html {
  background-color: rgb(255, 254, 234);
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
h1 {
  text-align: center;
  color: rgb(102, 79, 44);
}
h3 {    
    color: rgb(102, 79, 44);
  }
#listheading {
  font-weight: bold;
  
}
#listpoints {
  font-weight: normal;
}
#skills{
    color:black;
    text-align:justify;
}
